.TodoSearch {
    background:#f9fbfc;
    border-radius: 2px;
    border-radius: 2px solid #202329;
    margin: 0 24px;
    height: 64px;
    width: calc(100% - 62px);
    font-size: 24px;
    text-align: center;
    font-family: 'Poller One', cursive;
    font-weight: 400;
    color: #1e1e1f;
    box-shadow: -9px 8px 7px 1px rgba(255,255,255,0.58);
    
}


.TodoSearch::placeholder {
    color: #A5A5A5;
    font-family: 'Poller One', cursive;
    font-weight: 400;
}

.TodoSearch:focus {
    outline-color: #1eff00;
}